[submodule "external/fmt"]
	path = external/fmt
	url = git@github.com:fmtlib/fmt.git
[submodule "external/crow"]
	path = external/crow
	url = git@github.com:CrowCpp/Crow.git
[submodule "external/cpr"]
	path = external/cpr
	url = git@github.com:libcpr/cpr.git
[submodule "external/json"]
	path = external/json
	url = git@github.com:nlohmann/json.git
